<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="robots" content="noindex, nofollow">
<meta name="googlebot" content="noindex, nofollow">


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/bower_components/underscore/underscore-min.js"></script>
<script src="/bower_components/angular-ui-grid/ui-grid.js"></script>

<script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>

<script src="js/app.js"></script>

<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css " /> 
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css " /> 
<link rel="stylesheet" type="text/css" href="/bower_components/angular-ui-grid/ui-grid.css" /> 



<style>
.grid {
  width: 99%;
  height: 50vh;
}
.text-warning {
  color: #8a6d3b; 
}
</style>

<title>Warhol</title>

<script type='text/javascript'>
</script>

  
</head>

<body>
<div ng-app="uigrid" ng-controller="MainCtrl" class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div>
                <p><h1 style="display:inline-block">
                        <img src="/img/warhol_sm.png" style="max-height:31px; display:inline-block; vertical-align:bottom">
                        Warhol. A database of art.
                </h1></p>

                <form>
                    Piece Name:<br>
                    <input type="text" name="firstname" ><br>
                    Last name:<br>
                    <input type="text" name="lastname">
                </form>

                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-sm btn-default" ng-click="importBtn()">Import</button>
                    <button type="button" class="btn btn-sm btn-default">New</button>
                    <button type="button" class="btn btn-sm btn-danger">Del</button>
                </div>
                <input type="file" id="file-input" style="display:none"/>   

                <br><br>
                <div ui-grid="gridOptions" class="grid" ui-grid-edit ui-grid-selection ui-grid-grouping ui-grid-pinning ui-grid-expandable ui-grid-pagination></div>
                <p>Current page:
                    <input type="number" min="1" max="{{ pagination.getTotalPages() }}" ng-model="pagination.pageNumber" ng-change="load()">of {{ pagination.getTotalPages() }}</p>
                <button type="button" class="btn btn-success" ng-click="pagination.previousPage()">previous page</button>
                <button type="button" class="btn btn-success" ng-click="pagination.nextPage()">next page</button>
            </div>
        </div>
    </div>
</div>
  
</body>

</html>

